
# Ignore environment file
.env
.lightning_studio
.wakatime
.wakatime.cfg
.vscode
.idea/
.keras/

# Ignore Trained models as they can be very large
models/
cancer-computer-vision/models/

# Ignore logs